body {
    background-color:#181818;
    font-family:Arial;
    color:#ccc4bc;
}

a:link {
    color:#ccbcb4;
}

a:active  {
    color:#ccbcb4;
}

a:visited {
    color:#ccbcb4;
}

a:hover {
    color:#ccbcb4;
}

#content {
    margin-left: auto ;
    margin-right: auto ;
    width:50%;
}