html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, strike, strong, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td, canvas, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}

body {
    line-height:1;
}

ol, ul {
    list-style:none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

div {
    background-color:#202020;
    color:#ccc4bc;
}

select, input {
    background-color:#383838;
    color:#ccc4bc;
}


a:link {
    color:#ccbcb4;
}

a:active  {
    color:#ccbcb4;
}

a:visited {
    color:#ccbcb4;
}

a:hover {
    color:#ccbcb4;
}

#top-bar {
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    height:32px;
    padding-left:16px;
    padding-right:16px;
    font-family:Arial;
    font-weight:bold;
    font-size:16px;
    line-height:32px;
}

#content-container {
    position:fixed;
    top:32px;
    bottom:32px;
    left:0px;
    right:0px;
}

#map-container {
    float:left;
    position:relative;
    top:0px;
    left:0px;
    width:80%;
    height:100%;
    background-repeat:no-repeat;
    overflow:hidden;
}

#right-bar {
    padding:0px;
    float:left;
    position:relative;
    top:0px;
    right:0px;
    width:20%;
    height:100%;
    font-family:Arial;

}

#bottom-bar {
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:32px;
    padding-left:16px;
    font-family:Arial;
    font-weight:bold;
    font-size:16px;
    line-height:32px;
}

#eventclock {
    padding:2px;
    padding-left:8px;
}

#eventtime {
    font-size:120%;
    font-weight:bold;
}

.panel-event {
    margin-top:4px;
}

.event-title {
    background-color:#E0A060;
    font-size:110%;
    color:#202020;
    padding:2px;
    padding-left:4px;
}

.event-status {
    font-size:85%;
    color:#202020;
    padding:2px;
    padding-left:8px;
    padding-right:8px;
}

.event-time {
    font-size:100%;
    font-weight:bold;
    color:#404040;
}

.event-active {
    background-color:#E0A060;
}

.event-prep {
    background-color:#90B0C0;
}

#link-status {
    display:none;
}

#link-status-a {
    display:inherit;
}

#link-status-b {
    display:inherit;
}

#versionwarning {
    display:none;
    left:0px;
    right:0px;
    padding:4px;
}

#options-panel {
    position:relative;
    left:0px;
    right:0px;
}

#options-interior {
    display:none;
}

#raw-interior {
    display:none;
}

#trackplayer {
    position:relative;
    top:0px;
    margin-left:64px;
}

#language {
    position:fixed;
    top:0px;
    right:8px;
}

.collapse-text {
    font-size:65%;
}

.collapse-panel {
    padding:2px;
    padding-left:8px;
    padding-right:8px;
}

.collapse-interior {
    display:inline;
}

#raw-panel {
    position:relative;
    left:0px;
    right:0px;
}

.leaflet-top {
    background-color:transparent;
}
